## Summary Statistics Setup

In [1]:
import pandas as pd
import numpy as np

def numeric_summary(df, digits=3):
    num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
    if not num_cols:
        return pd.DataFrame()

    desc = df[num_cols].describe(percentiles=[.25,.5,.75]).T
    desc = desc.rename(columns={'25%':'q1','50%':'median','75%':'q3'})
    desc['IQR'] = desc['q3'] - desc['q1']
    desc['range'] = desc['max'] - desc['min']
    desc['skew'] = df[num_cols].skew(numeric_only=True)
    desc['kurtosis'] = df[num_cols].kurt(numeric_only=True)
    desc['missing_%'] = df[num_cols].isna().mean()*100
    return desc.round(digits)

def missing_table(df):
    out = (df.isna().mean()*100).round(2).rename('missing_%').to_frame()
    out['dtype'] = df.dtypes.astype(str)
    return out.sort_values('missing_%', ascending=False)

def duplicate_count(df):
    return int(df.duplicated().sum())

def run_summary_stats(df, dataset_name):
    print(f"\n=== {dataset_name}: Summary Statistics (Numeric) ===")
    display(numeric_summary(df))

    print(f"\n=== {dataset_name}: Missingness & Dtypes ===")
    display(missing_table(df))

    dups = duplicate_count(df)
    print(f"\n=== {dataset_name}: Duplicates ===")
    print(f"Duplicate rows: {dups}")

**Pathing**

In [3]:
paths = {
    "SPY_trades" : "SPY_trades_clean_2024-03-11_2024-03-15.csv",
    "SPY_1s"     : "SPY_1s_clean_2024-03-11_2024-03-15.csv",
    "SPY_1m"     : "SPY_1m_clean_2024-03-11_2024-03-15.csv",
    "OPT_trades" : "OPT_trades_clean_2024-03-11_2024-03-15.csv",
    "OPT_1s"     : "OPT_1s_clean_2024-03-11_2024-03-15.csv",
    "OPT_1m"     : "OPT_1m_clean_2024-03-11_2024-03-15.csv",
}

dfs_sum = {name: pd.read_csv(p) for name,p in paths.items()}

## Summary Statistics

In [4]:
for name, df in dfs_sum.items():
    run_summary_stats(df, name)

=== SPY_trades: Summary Statistics (Numeric) ===

,count,mean,std,min,q1,median,q3,max,IQR,range,skew,kurtosis,missing_%
price,4727.0,513.215,2.728,508.102,510.41,514.09,515.94,517.34,5.53,9.238,-0.124,-1.494,0.000
size,4727.0,254.128,8625.923,1.000,5.00,37.00,100.00,486000.00,95.00,485999.000,50.735,2637.312,0.000
exchange,4727.0,11.270,4.785,1.000,8.00,11.00,12.00,21.00,4.00,20.000,0.285,-0.449,0.000
dt_diff_s,4726.0,78.078,1832.665,0.000,0.00,0.00,13.00,63006.00,13.00,63006.000,34.279,1174.948,0.021

=== SPY_trades: Missingness & Dtypes ===

             missing_%    dtype
conditions       20.75   object
dt_diff_s         0.02  float64
datetime_et       0.00   object
price             0.00  float64
size              0.00  float64
exchange          0.00    int64

=== SPY_trades: Duplicates ===
Duplicate rows: 0

=== SPY_1s: Summary Statistics (Numeric) ===

,count,mean,std,min,q1,median,q3,max,IQR,range,skew,kurtosis,missing_%
open,105651.0,513.252,2.765,508.360,510.510,513.98,515.995,517.350,5.485,8.990,-0.138,-1.557,0.000
high,105651.0,513.259,2.764,508.370,510.519,513.99,516.000,517.380,5.481,9.010,-0.139,-1.557,0.000
low,105651.0,513.245,2.766,508.122,510.500,513.97,515.990,517.340,5.490,9.218,-0.137,-1.557,0.000
close,105651.0,513.252,2.765,508.360,510.510,513.98,515.991,517.345,5.481,8.985,-0.138,-1.557,0.000
volume,105651.0,3194.354,28020.919,100.000,631.000,1398.00,2894.000,6252231.000,2263.000,6252131.000,169.394,35003.701,0.000
vwap,105651.0,513.253,2.765,508.101,510.508,513.98,515.996,517.356,5.488,9.255,-0.139,-1.556,0.000
transactions,105651.0,27.686,40.192,1.000,10.000,18.00,33.000,2348.000,23.000,2347.000,11.198,289.650,0.000
ret_log,105650.0,-0.000,0.000,-0.009,-0.000,0.00,0.000,0.004,0.000,0.014,-50.185,10804.248,0.001

=== SPY_1s: Missingness & Dtypes ===

              missing_%    dtype
datetime_et         0.0   object
open                0.0  float64
high                0.0  float64
low                 0.0  float64
close               0.0  float64
volume              0.0    int64
vwap                0.0  float64
transactions        0.0    int64
ret_log             0.0  float64

=== SPY_1s: Duplicates ===
Duplicate rows: 0

=== SPY_1m: Summary Statistics (Numeric) ===

,count,mean,std,min,q1,median,q3,max,IQR,range,skew,kurtosis,missing_%
open,1955.0,513.313,2.776,508.395,510.530,514.085,516.080,5.172800e+02,5.550,8.885000e+00,-0.163,-1.559,0.000
high,1955.0,513.421,2.765,508.450,510.670,514.190,516.175,5.173800e+02,5.505,8.930000e+00,-0.171,-1.562,0.000
low,1955.0,513.204,2.786,508.122,510.420,513.970,515.980,5.171900e+02,5.560,9.068000e+00,-0.156,-1.558,0.000
close,1955.0,513.313,2.774,508.380,510.530,514.080,516.075,5.172800e+02,5.545,8.900000e+00,-0.164,-1.560,0.000
volume,1955.0,174764.964,336128.837,18882.000,77798.500,114549.000,188218.000,1.177292e+07,110419.500,1.175403e+07,23.005,742.364,0.000
vwap,1955.0,513.354,2.752,508.124,510.623,514.101,516.094,5.172340e+02,5.471,9.110000e+00,-0.176,-1.541,0.000
transactions,1955.0,1520.502,1224.500,315.000,871.500,1174.000,1774.500,2.278300e+04,903.000,2.246800e+04,5.942,68.566,0.000
ret_log,1954.0,-0.000,0.000,-0.008,-0.000,0.000,0.000,4.000000e-03,0.000,1.300000e-02,-5.080,142.379,0.051
rv_5m,1950.0,0.000,0.000,0.000,0.000,0.000,0.000,4.000000e-03,0.000,4.000000e-03,9.727,133.746,0.256

=== SPY_1m: Missingness & Dtypes ===

              missing_%    dtype
rv_5m              0.26  float64
ret_log            0.05  float64
datetime_et        0.00   object
open               0.00  float64
high               0.00  float64
low                0.00  float64
close              0.00  float64
volume             0.00    int64
vwap               0.00  float64
transactions       0.00    int64

=== SPY_1m: Duplicates ===
Duplicate rows: 0

=== OPT_trades: Summary Statistics (Numeric) ===

,count,mean,std,min,q1,median,q3,max,IQR,range,skew,kurtosis,missing_%
price,192.0,44.118,2.116,39.0,43.372,44.11,45.620,47.400,2.248,8.400,-0.522,-0.102,0.000
size,192.0,319.479,1499.497,1.0,1.000,2.00,10.000,16889.000,9.000,16888.000,8.413,83.930,0.000
exchange,192.0,309.516,7.509,300.0,303.000,308.00,313.000,325.000,10.000,25.000,0.636,-0.792,0.000
dt_diff_s,191.0,1924.854,9226.088,0.0,0.006,160.30,733.765,66763.116,733.759,66763.116,6.612,42.771,0.521

=== OPT_trades: Missingness & Dtypes ===

             missing_%    dtype
dt_diff_s         0.52  float64
datetime_et       0.00   object
price             0.00  float64
size              0.00    int64
exchange          0.00    int64
conditions        0.00   object

=== OPT_trades: Duplicates ===
Duplicate rows: 0

=== OPT_1s: Summary Statistics (Numeric) ===

,count,mean,std,min,q1,median,q3,max,IQR,range,skew,kurtosis,missing_%
open,128.0,44.006,2.322,39.000,42.758,44.195,46.192,47.40,3.435,8.400,-0.495,-0.603,0.000
high,128.0,44.013,2.321,39.000,42.758,44.195,46.192,47.40,3.435,8.400,-0.502,-0.598,0.000
low,128.0,44.002,2.321,39.000,42.758,44.190,46.192,47.40,3.435,8.400,-0.495,-0.606,0.000
close,128.0,44.009,2.322,39.000,42.758,44.190,46.192,47.40,3.435,8.400,-0.499,-0.603,0.000
volume,128.0,479.453,2480.073,1.000,1.000,2.000,10.000,25815.00,9.000,25814.000,8.804,87.496,0.000
vwap,128.0,44.007,2.322,39.000,42.758,44.195,46.192,47.40,3.435,8.400,-0.497,-0.602,0.000
transactions,128.0,1.562,1.724,1.000,1.000,1.000,1.000,16.00,0.000,15.000,5.722,41.299,0.000
ret_log,127.0,-0.000,0.016,-0.093,-0.006,-0.000,0.006,0.05,0.012,0.143,-1.336,9.848,0.781

=== OPT_1s: Missingness & Dtypes ===

              missing_%    dtype
ret_log            0.78  float64
datetime_et        0.00   object
open               0.00  float64
high               0.00  float64
low                0.00  float64
close              0.00  float64
volume             0.00    int64
vwap               0.00  float64
transactions       0.00    int64

=== OPT_1s: Duplicates ===
Duplicate rows: 0

=== OPT_1m: Summary Statistics (Numeric) ===

,count,mean,std,min,q1,median,q3,max,IQR,range,skew,kurtosis,missing_%
open,116.0,43.981,2.437,39.000,42.350,44.195,46.370,47.400,4.020,8.400,-0.443,-0.843,0.000
high,116.0,43.991,2.437,39.000,42.350,44.200,46.385,47.400,4.035,8.400,-0.454,-0.836,0.000
low,116.0,43.972,2.435,39.000,42.348,44.190,46.370,47.400,4.023,8.400,-0.439,-0.843,0.000
close,116.0,43.983,2.436,39.000,42.348,44.195,46.385,47.400,4.038,8.400,-0.445,-0.839,0.000
volume,116.0,529.052,3298.409,1.000,1.000,2.000,7.000,25815.000,6.000,25814.000,7.024,49.932,0.000
vwap,116.0,43.982,2.436,39.000,42.350,44.195,46.374,47.400,4.025,8.400,-0.445,-0.838,0.000
transactions,116.0,1.724,2.205,1.000,1.000,1.000,1.000,16.000,0.000,15.000,4.358,21.014,0.000
ret_log,115.0,-0.000,0.017,-0.093,-0.007,-0.001,0.006,0.050,0.013,0.143,-1.287,8.880,0.862
rv_5m,111.0,0.014,0.011,0.002,0.006,0.011,0.018,0.051,0.011,0.049,1.671,3.015,4.310

=== OPT_1m: Missingness & Dtypes ===

              missing_%    dtype
rv_5m              4.31  float64
ret_log            0.86  float64
datetime_et        0.00   object
open               0.00  float64
high               0.00  float64
low                0.00  float64
close              0.00  float64
volume             0.00    int64
vwap               0.00  float64
transactions       0.00    int64

=== OPT_1m: Duplicates ===
Duplicate rows: 0